.about-section {
  padding: 100px 0;
}

.about-column-left {
  width: 65%;
}

.about-column-right {
  width: 35%;
}

.about-header {
  font-family: "League Spartan", sans-serif;
  font-size: 3.125rem;
  font-weight: 600;
  color: #f766fa;
  padding-bottom: 20px;
}

.about-paragraph {
  width: 100%;
}

.about-paragraph p {
  font-family: "Roboto", Arial;
  font-size: 1.25rem;
  font-weight: 500;
}

.about-card{
  display: flex;
  justify-content: center;
}


.about-image {
  width: 280px;
  border-radius: 20px;
  justify-self: center;
}

@media (max-width: 800px) {

  .about-column-left {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .about-column-right {
    width: 100%;
  }

  .about-header{
    font-size: 2.5rem;
    text-align: center;
  }

  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-card{
    display: flex;
    justify-content: center;
  }

  .about-image {
    width: 200px;
    border-radius: 20px;
  }

  .about-paragraph p {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1.3em;
  }

  .about-paragraph {
    width: 100%;
  }

}



